# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
city_data = pd.read_csv("..\Weather Py\city_data.csv")
city_data

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,rikitea,16,PF,1608069807,67,-23.12,-134.97,77.52,3.42
1,jamestown,75,US,1608069807,62,42.10,-79.24,27.00,4.70
2,geraldton,0,AU,1608069791,87,-28.77,114.60,60.80,5.82
3,busselton,0,AU,1608069718,82,-33.65,115.33,53.01,1.99
4,puerto ayora,40,ES,1608069808,87,36.59,-6.23,55.00,4.70
...,...,...,...,...,...,...,...,...,...
529,masumbwe,69,TZ,1608069896,86,-3.63,32.18,64.40,1.90
530,lake saint louis,90,US,1608069896,68,42.33,-88.00,30.99,4.70
531,gamba,100,GA,1608069896,89,-2.65,10.00,77.76,6.80
532,waupun,75,US,1608069896,73,43.63,-88.73,21.20,4.70
533,mokhsogollokh,69,RU,1608069897,81,61.47,128.92,-40.79,2.28

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
#Configure gmaps
gmaps.configure(api_key=g_key)

In [4]:
#Customize the map

figure_layout = {
    "width": "600px",
    "height": "500px",
    "border": "1px solid black",
    "padding": "1px",
    "margin": "0 auto 0 auto"
}
fig = gmaps.figure(layout=figure_layout)

#Latitude and Longitude locations
locations = city_data[["Lat", "Lng"]]

#Declare Humidity
humidity = city_data["Humidity"]

#Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity,
                                dissipating=False, max_intensity=100,
                                point_radius=3)
#Adding heat layer to the map
fig.add_layer(heat_layer)

#Display map
fig

Figure(layout=FigureLayout(border='1px solid black', height='500px', margin='0 auto 0 auto', padding='1px', wi…

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
#Custom dataframe with temperature exceeding 75 but less than 90 degrees, no clouds in the sky, and wind speed greater than 5
cities_df = city_data.loc[(city_data["Max Temp"]>70) & (city_data["Max Temp"]<80)
                          & (city_data["Cloudiness"]==0)
                          & (city_data["Wind Speed"]<10)].dropna()
cities_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
62,maceio,0,BR,1608069564,88,-9.67,-35.74,75.20,5.82
112,viedma,0,AR,1608069256,29,-40.81,-63.00,75.00,8.01
182,wagar,0,SD,1608069838,76,16.15,36.20,70.39,9.62
276,poum,0,NC,1608069854,70,-20.23,164.02,79.27,7.76
293,salalah,0,OM,1608069857,56,17.02,54.09,71.60,3.36
364,natitingou,0,BJ,1608069870,57,10.30,1.38,78.80,2.24
415,nelson bay,0,NZ,1608069878,66,-41.28,173.28,75.99,3.00
480,upington,0,ZA,1608069888,14,-28.45,21.26,78.80,3.36

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
#Store cities dataframe into the variable hotel dataframe (hotel_df)
hotel_df = cities_df

In [7]:
#Adding column called "Hotel Name" to hotel dataframe
hotel_df["Hotel Name"]= ""
hotel_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
62,maceio,0,BR,1608069564,88,-9.67,-35.74,75.20,5.82,
112,viedma,0,AR,1608069256,29,-40.81,-63.00,75.00,8.01,
182,wagar,0,SD,1608069838,76,16.15,36.20,70.39,9.62,
276,poum,0,NC,1608069854,70,-20.23,164.02,79.27,7.76,
293,salalah,0,OM,1608069857,56,17.02,54.09,71.60,3.36,
364,natitingou,0,BJ,1608069870,57,10.30,1.38,78.80,2.24,
415,nelson bay,0,NZ,1608069878,66,-41.28,173.28,75.99,3.00,
480,upington,0,ZA,1608069888,14,-28.45,21.26,78.80,3.36,

In [8]:
#Set parameters dictionary to search for hotels with 5000 meters
parameters = {"type" : "hotel",
          "keyword" : "hotel",
          "radius" : 5000,
          "key" : g_key}

#Url to be used to call API
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

for index, row in hotel_df.iterrows():
    # get city name, lat, lnt from df
    lat = row["Lat"]
    lng = row["Lng"]
    name_of_city = row["City"]
    
    parameters["location"] = f"{lat},{lng}"

    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {name_of_city}.")
    response = requests.get(base_url, params=parameters).json()
    
    # extract results
    results = response['results']
    
    # save the hotel name to dataframe
    try:
        print(f"Closest hotel in {name_of_city} is {results[0]['name']}.")
        hotel_df.loc[index, "Hotel Name"] = results[0]['name']

    # if there is no hotel available
    except (KeyError, IndexError):
        print("No hotel within 5000 radius.....Searching.")
        
    print("------------")

# Print search complete when the search has completed
print("-------Search complete-------")

Retrieving Results for Index 62: maceio.
Closest hotel in maceio is Marinas Maceió Hotel.
------------
Retrieving Results for Index 112: viedma.
Closest hotel in viedma is Casa Crespo Hotel Boutique.
------------
Retrieving Results for Index 182: wagar.
No hotel within 5000 radius.....Searching.
------------
Retrieving Results for Index 276: poum.
No hotel within 5000 radius.....Searching.
------------
Retrieving Results for Index 293: salalah.
Closest hotel in salalah is InterCityHotel Salalah.
------------
Retrieving Results for Index 364: natitingou.
Closest hotel in natitingou is Hotel Totora.
------------
Retrieving Results for Index 415: nelson bay.
Closest hotel in nelson bay is Trailways Hotel.
------------
Retrieving Results for Index 480: upington.
Closest hotel in upington is Protea Hotel by Marriott Upington.
------------
-------Search complete-------

In [9]:
hotel_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
62,maceio,0,BR,1608069564,88,-9.67,-35.74,75.20,5.82,Marinas Maceió Hotel
112,viedma,0,AR,1608069256,29,-40.81,-63.00,75.00,8.01,Casa Crespo Hotel Boutique
182,wagar,0,SD,1608069838,76,16.15,36.20,70.39,9.62,
276,poum,0,NC,1608069854,70,-20.23,164.02,79.27,7.76,
293,salalah,0,OM,1608069857,56,17.02,54.09,71.60,3.36,InterCityHotel Salalah
364,natitingou,0,BJ,1608069870,57,10.30,1.38,78.80,2.24,Hotel Totora
415,nelson bay,0,NZ,1608069878,66,-41.28,173.28,75.99,3.00,Trailways Hotel
480,upington,0,ZA,1608069888,14,-28.45,21.26,78.80,3.36,Protea Hotel by Marriott Upington

Two cities (Wagar & Poum) did not find hotels within a 5000 radius.

In [10]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [11]:
# Add marker layer 
marker_layer = gmaps.marker_layer(locations
                                 ,info_box_content=hotel_info)
#Adding marker layer to map
fig.add_layer(marker_layer)

# Display figure
fig

Figure(layout=FigureLayout(border='1px solid black', height='500px', margin='0 auto 0 auto', padding='1px', wi…